.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;

  @media screen and (max-width: 600px) {
    margin-top: 20%;
  }
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}
