.layout {
  max-width: 85rem;
  margin: auto;

  @media screen and (min-width: 1700px) {
    max-width: 92rem;
  }
}

.children {
  margin-top: 5%;
  @media screen and (max-width: 1500px) {
    margin-left: 10%;
  }
  @media screen and (max-width: 1000px) {
    margin-left: 20%;
  }
}
